//@import 'libs/bourbon'; // http://bourbon.io/
@import '_normalize.scss';
@import 'vendor/*';
@import 'materialize/*';
@import 'variables/*';
@import 'modules/*';

body {
	font-family: $fPrimary;
	color: $cBlack;
	background-image: $imgBackground;
}

*, *::after, *::before {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;

	th, td {
		text-align: left;
		padding: 2px 5px;

		&.number {
			text-align: right;
		}
	}
}

h1 {
	font-family: $fPrimary;
	text-align: center;
	font-weight: 300;
	font-size: 3em;
}

a > span[class^="icon"] {
	margin-right: 5px;
}

button.btn-settings {
	position: fixed;
	right: 10px;
	top: 10px;
}